div,
span {
  width: 80px;
  height: 80px;
  margin: 20px;
  border: 1px solid black;
  background-color: rebeccapurple;
}

div {
  background-color: rebeccapurple;
  display: inline-block;
}

span {
  background-color: aquamarine;
  display: block;
}
