* {
    outline :1px solid red;
    outline-offset : -1px;
}

h1 {
    text-align: center;
}

header {
    height: 80px;
    border: 1px solid black;
    background-color: grey;
}

nav {
    height: 50px;
    border: 1px solid black;
    background-color: rgb(104, 104, 104);
}

main {
    height: 300px;
}

section {
    height : 50%;
    display: flex;
    justify-content: space-evenly;
}

.article {
    width : 45%;
}