/* * {
    outline :1px solid red;
    outline-offset : -1px;
} */

h1 {
    text-align: center;
}

h4 {
    margin:10px;
}

h5 {
    margin: 5px;
}

table {
    width: 100%;
    margin:10px auto;
    border-collapse: collapse;
}

th {
    width: 25%;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    color: rgb(236, 240, 238);
    background-color: rgb(216, 246, 170);
    border: 1px solid black;
    border-left: 0px;
}

td {
    width: 70%;
    border: 1px solid black;
    border-right: 0px;
}

.input {
    width: 200px;
    border-radius: 4px;
}

.input_long {
    width:400px;
    border-radius: 4px;
}